@charset "utf-8";


* {
	margin: 0;
	padding: 0;
}

body{
	margin: 0 auto;
	padding: 25px;
	width: 940px;
	font: 13px Verdana, geneva, sans-serif;	
	color: #000;
	background-color: #f5f5f5;
}

section.cabecalho{
	background:  #DDEEEE;
	height: 116px;
	white-space: 940;
	background-color: #FFF;
}

img.logo{
	float: left;
	display: block;
}

footer{
	background:  #DDEEEE;
	height: 100px;
	white-space: 940;
	background-color: #FFF;
	margin-top: 2px;
}

header, nav, section, footer{
	display: block;
}

header h1{
	font-size: 30px;
	line-height: 40px;
	padding: 20px 0;
}


nav ul {
	list-style: none;
}

nav ul li{
	float: left;
}

nav ul li a{
	display: block;
	height: 30px;
	padding: 0 30px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	color: #999;

}

nav ul li a:hover{
	color: #34ABE0;
}

nav ul li a.selecionado{
	background-color: #34ABE0;
	margin-left: 10px;
	color: #FFF;
	height: 25px;
	line-height: 25px;
	margin-top: 2px;
}

section#conteudo{
	height: auto;
	white-space: 940;	
	background-color: #FFF;
	margin-top: 2px;
	padding-left: 10px;

}

section#conteudo h1{
	font-size: 24px;
	text-align: left;
	line-height: 40px;
	color: #999;
}


p{
	padding-top: 35px;
	padding-bottom: 35px;
	font-weight: bold;
	font-size: 16px;
	width: 600px;
	color: #000;	

}

label {
    display: inline-block;
    width: 90px;
}

table {
  border: 1px #c0c0c0 solid;
  width: auto;
}
table th {
  background-color: #34ABE0;
  color: #fff;
}
table td {
  background-color: #f0f0f0;
  color: #0c0c0c;
}
